<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <application
        android:allowBackup="true"
        android:label="MV Bank"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <tools:validation testUrl="https://www.axpco.com/pisp/src/lisa-app-bank/qa_merchant_app" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- VERIFIED HTTPS APP LINK -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.axpco.com"
                    android:pathPrefix="/pisp/src/lisa-app-bank" />
            </intent-filter>
            <intent-filter android:label="Deep Link">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="example"
                    android:host="gizmos" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.axpco.com" />
                <data android:pathPattern="/pisp/src/lisa-app-bank/qa_merchant_app" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivity"
            android:exported="true" />
    </application>
</manifest>
